absl-py
accelerate
addict
aenum
aiofiles
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
asttokens
async-timeout
attrs
backcall
basicsr
beautifulsoup4
blendmodes
blip-ci
boltons
cachetools
certifi
charset-normalizer
clean-fid
click
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256
clip-interrogator
cmake
comm
contourpy
cycler
debugpy
decorator
deprecation
diffusers
dnspython
einops
email_validator
exceptiongroup
executing
facexlib
fairscale
fastapi
fastapi-cli
ffmpy
filelock
filterpy
fonttools
frozenlist
fsspec
ftfy
future
gdown
gfpgan
gitdb
GitPython
google-auth
google-auth-oauthlib
gradio
gradio_client
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
idna
imageio
importlib_metadata
importlib_resources
inflection
ipykernel
ipython
jedi
Jinja2
jsonmerge
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kornia
kornia_rs
lark
lazy_loader
lightning-utilities
lit
llvmlite
lmdb
lpips
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
nest-asyncio
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-nccl-cu11
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
oauthlib
omegaconf
open-clip-torch
opencv-python
orjson
packaging
pandas
parso
pexpect
pickleshare
piexif
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
realesrgan
referencing
regex
requests
requests-oauthlib
resize-right
rich
rpds-py
rsa
ruff
safetensors
scikit-image
scipy
semantic-version
sentencepiece
shellingham
six
smmap
sniffio
soupsieve
stack-data
starlette
sympy
tb-nightly
tensorboard-data-server
tifffile
timm
tokenizers
tomesd
tomli
tomlkit
toolz
torch
torchdiffeq
torchmetrics
torchsde
torchvision
tornado
tqdm
traitlets
trampoline
transformers
triton
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
uvloop
watchfiles
wcwidth
websockets
Werkzeug
yapf
yarl
zipp
